.userBox {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.profileImage {
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 50%;
}

.profileEmail {
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--gray100);
}
